<h1>Editing blitz tactic</h1>

<%= render "form", blitz_tactic: @blitz_tactic %>

<br>

<div>
  <%= link_to "Show this blitz tactic", @blitz_tactic %> |
  <%= link_to "Back to blitz tactics", blitz_tactics_path %>
</div>
